# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb~

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv/
venv/
ENV/

# Data files
data/raw/*
!data/raw/.gitkeep
*.log
*.tmp

# Excel temporary files
~$*.xlsx

# OS files
.DS_Store
Thumbs.db

# Ignore large raw datasets
data/raw/amazon_reviews_us_Books_v1_02.tsv
